[Unit]
Description=bsbf-route
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/bsbf-route
Restart=on-failure

[Install]
WantedBy=multi-user.target
